body{
  margin:0;
  background:#0b0b0f;
  color:white;
  font-family:Arial, sans-serif;
}
.sidebar{
  width:100px;
  height:100vh;
  background:linear-gradient(180deg,#0f0f14,#1a1a25);
  position:fixed;
  right:0;
  top:0;

  display:flex;
  flex-direction:column;
  align-items:center;

  padding-top:40px;
  gap:60px;  
}

/* MENU */
.menu{
  display:flex;
  flex-direction:column;
  gap:30px;
}

/* resume button*/
.cta{
  display:inline-block;
  padding:12px 25px;
  background:#6e797a;
  color:white;
  text-decoration:none;
  border-radius:30px;
  font-weight:600;
  transition:0.3s ease;
}

.cta:hover{
  background:#6e797a;
  transform:scale(1.05);
}


/* SOCIAL ICONS */
.social-icons{
  display:flex;
  flex-direction:column;
  gap:25px;
}

.social-icons a{
  color:#bbb;
  font-size:30px;
  transition:0.3s ease;
}

.social-icons a:hover{
  color:#6e797a;
  transform:scale(1.2);
}
.avatar{
  width:150px;
  height:150px;
  border-radius:100%;
  object-fit:cover;
  border:3px solid #6e797a;
  box-shadow:0 0 20px #9c9f9f;  
  transition:0.3s ease;
}
.avatar:hover{
  transform:scale(1.2)
}

.hero-content{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;

  margin-right:120px;
  padding:20px;}
